{
    "presets": [
        "react",
        "latest"
    ],
    "plugins": [
        "transform-proto-to-assign",
        [
            "transform-es2015-classes",
            {
                "loose": true
            }
        ]
    ]
}
